/*
 * Empty Stylesheet file.
 */

.button{
    -fx-background-color: red;
}

.button:hover{
    -fx-cursor:hand;
}

.cadastro:hover{
    -fx-cursor:hand;
    -fx-fill:blue;
}

.defaultLabel{
    -fx-pref-width: 92;
    -fx-pref-height:18;
}

.cadastrar{
    -fx-background-radius:30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
}
